/*FONTS******************************************************/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Italic';
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/************************************************************/



/*IMPROTS****************************************************/
@import url(../fonts/HeveticaStylesheet.css);
/************************************************************/



/*GLOBAL****************************************************/
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

i.far, i.fas, i.fa {
    font-family: "Font Awesome 5 Free" !important;
}

 i.fab {
    font-family: "Font Awesome 5 Brands" !important;
 }

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

a, a:hover, a:active, a:visited, a:checked{
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/************************************************************/

/*COLOR*****************************************************/
.text-orange {
    color:#FF9900;
}

.back-orange {
    background-color:#FF9C47;
}
/************************************************************/

/*logo*/
.logo a{
    font-size: 44px;
    font-weight: 900;
    line-height: 46px;
}

.logo span {
    color: #ff9900;
    display: inline-block;
    transform: rotate(-180deg);
}
/************************************************************/

/*BORDER HEADER*/
.border-header {
    padding: 80px 0;
}

.border-header, .news .container .header {
    margin: 0 auto;
}

.border-header .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-header .header .title {
    text-transform: uppercase;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px #b0b0b0;
    width: 30%;
    text-align: center;
    padding: 16px 0;
    font-size: 32px;
}

.border-header .header .desc {    
    font-style: italic;
    padding: 12px 0 48px;
    text-transform: capitalize;
    font-size: 15px;
}
/************************************************************/

/*ANIMATE-BTN******************************************/
.animate-btn {
    width: 25%;
    padding: 10px 30px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #000000;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    transition: 0.5s;
}

.animate-btn:hover {
    border: 1px solid #ff9900;
    background: #ff9900;
    transition: 0.5s;
}
/************************************************************/

/*CONTACTS***************************************************/
.contacts {
    background-color: #FF9900;
}

.contacts * {    
    color: #fff;
    font-size: 14px;
}

.contacts .container {
    display: flex;
    justify-content: space-between;
}

/*left*/
.contacts .item-left {
    display: flex;
}

.contacts .item-left .block .icon{
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 8px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contacts .item-left>div {
    display: flex;
    align-items: center;
    border-left: 1px solid #ffffff;
    padding: 0 24px 0 24px;
}

.contacts .item-left .email a:hover span{
    color: #000;
    transition: 1s;
}

/*right*/
.contacts .item-right {
    display: flex;
    align-content: center;
    margin: auto 0;
    padding: 11px 0;
}

.contacts .item-right .button .title {
    text-transform: uppercase;
}

.contacts .item-right .button{
    display: flex;
    padding: 12px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 7px 14px;
}

.contacts .item-right a:nth-child(n+2) .button {
    margin-left: 10px;
}

.contacts .item-right .icon {
    margin-right: 10px;
}

.contacts .item-right .button:hover {
    background: #000;
    transition: 1s;
    border-color: #000;
}
/************************************************************/



/*NAV-BAR****************************************************/
.nav-bar {
    padding: 24px 0;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
}

/*links*/
.nav-bar .links {
    display: flex;
    align-items: center;
}

.nav-bar .links a{
    display: flex;
    align-items: center;
}

.nav-bar .links li a{
    padding: 0 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #777;
}

.nav-bar .links li:hover a {
    color: #ff9900;
}

.nav-bar .links .active a{
    color: #ff9900;
}

.nav-bar .toggle-button {
    width: 40px;
    height: 40px;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    cursor: pointer;
}

.nav-bar .toggle-button .row{
    width: 100%;
    height: 2px;
    background-color: #000;
    
}
/************************************************************/



/*BANNER*****************************************************/
.banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.banner .middle {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding: 48px;
    margin-bottom: 40px;
    background: rgba(46, 46, 46, 0.4);
}

.banner .middle * {
    display: flex;
    justify-content: center;
    color: #fff;
}

.banner .middle h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: 900;
    font-family: "Open Sans Bold";
}

.banner .middle p {
    margin: 14px 60px 42px;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
}

.banner .button {
    margin: 0 auto;
    border: 1px solid #fff;
}
/************************************************************/



/*FEARURES***************************************************/
.features .container {
    display: flex;
    padding: 80px 0;
}

.features .block {
    width: 50%;
    padding: 0 15px;
}

.features .title {
    font-weight: 100;
    font-size: 28px;
}

/*left*/
.features .left{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.features .left>* {
    text-align: end;
}

.features .title {
    margin-bottom: 7px;
}

.features .undertitle {
    margin-bottom: 14px;
    font-style: italic;
    color: #FF9900;
    font-size: 14px;
}

.features .description {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 2em;
    color: #777
}

.features .button{
    width: 25%;
    border: 1px solid #000000;
    margin: 0 0 0 auto;
    text-align: center;
    padding: 10px 30px;
}

.features .button:hover{
    background: #ff9900;
    border: 1px solid #ffffff;
    transition: 0.8s;
}

.features .button a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
}

/*right*/
.features .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.features .right .item {
    width: calc((100% - 84px) / 2);
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 32px;
    margin-bottom: 16px;
    background-color: #F5F5F5;
}

.features .right .item .icon{
    width: 60px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .right .name {
    margin: 20px 0 10px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: normal;
    text-transform: capitalize;
}

.features .right .desc {
    line-height: 2em;
    font-size: 14px;
    text-align: center;
    color:#999999;
}

.features .right .mask-box {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.features .right .mask {
    width: 100%;
}

.features .right .item:hover .mask-box{
    opacity: 1;
    transition-duration: 1s;
}

/************************************************************/



/*DESCRIPTION************************************************/
section.description {
    display: flex;
}

section.description .block {
    width: 50%;
    box-sizing:border-box;
}

section.description .picture {
    display: flex;
}

section.description .picture img {
    width: 100%;
    height: 100%;
}

section.description .text, section.description .text a{
    color: #ffffff;
}

section.description .mini-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

section.description .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 80px 64px 80px 48px ;
}

section.description .text .title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.8em;
    text-transform: capitalize;
}

section.description .text .info {
    line-height: 2em;
    font-size: 14px;
    margin: 14px 0 28px;
}

section.description .text .button {
    position: relative;
    display: flex;
    margin-right: auto;
    align-content: center;
    overflow: hidden;
}

section.description .text .button a{
    letter-spacing: 2px;
    padding-right: 2px;
    margin-right: 30px;
    transition-duration: 0.42s all ease-in;
}

section.description .text .button:hover a{
    color: #212121;
    font-weight: bold;
    transition-duration: 0.42s all ease-in;
}

section.description .text .button .icon {
    margin: auto 0;
}

section.description .text .button img {
    position: absolute;
    right: 0;
}

section.description .text .button .icon {
    top: 3px;
}

section.description .text .button .hover-icon {
    top: -30px;
}

section.description .text .button:hover .hover-icon{
    top: 3px;
    transition-duration: 0.42s;
}

section.description .text .button:hover .icon{
    top: 30px;
    transition-duration: 0.42s;
}
/************************************************************/



/*NEWS******************************************************/
.news .items {
    display: flex;
    flex-wrap: wrap;
}

.news .item {
    width: 50%;
    display: flex;
    margin-bottom: 48px;
}

/*stats*/
.news .item .stats{
    text-align: right;
    width: 40%;
}

.news .item .stats div:nth-child(n+2) *{
    color: #919191;
    font-size: 14px;
}

.news .item .stats div:nth-child(n+2) .icon i{
    font-size: 20px;
}

.news .item .br-bot{
    border-bottom: 2px solid #d5d5d5;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 12px;
}

.news .item .br-bot .line {
    display: block;
    width: 85%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    right: 0;
    background-color: #FF9900;
}

.news .item .number {
    font-family: 'Open Sans Bold';
    font-size: 28px;
    font-weight: bold;
}

/*content*/
.news .item .content {
    margin: 0 48px;
}

.news .item .content .picture{
    width: 100%;
}

.news .item .content .picture img {
    width: 100%;
}

.news .item .content .news-title a{
    font-size: 20px;
    display: block;
    letter-spacing: 3px;
    font-weight: normal;
    margin: 24px 0 20px;
    color:#FF9900;
}

.news .item .content .news-title:hover a{
    color: #212121; 
    transition: 0.5s ease-in;
}

.news .item .content .text {
    color: #999999;
    font-size: 14px;
    line-height: 28px;
}

/*button*/
.news .buttons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.news .buttons .button {
    display: block;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF9900;
    padding: 12px 0;
    margin: 0 24px;
    transition: 0.5s ease-in;
}

.news .buttons .button:hover {
    background-color: #212121; 
    transition: 0.5s ease-in;
}
/************************************************************/


/*TESTIMONIALS**********************************************/
.testimonials {
    background: #f5f5f5;
}

.testimonials .container {
    padding: 48px 0;
}

.testimonials .title {
    text-transform: uppercase;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px #b0b0b0;
    width: 30%;
    text-align: center;
    padding: 16px 0;
    font-size: 32px;
    margin: 0 auto 16px;
}

.testimonials .desc {
    text-align: center;
    font-style: italic;
    padding: 16px 0 48px;
}

.testimonials .content {
    padding: 0 48px ;
    position: relative
}

.testimonials .content::before {
    content: '';
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    top:44%;
    left: 12%;
    position:absolute;
    background-image: url(../img/ps1.png);
}

.testimonials .content .image {
    width: 100px;
    height: 100px;
    margin: 0 auto 16px;
    overflow: hidden;
    border-radius: 50px;
}

.testimonials .content .comment {
    width: 80%;
    color: #999999;
    margin: 0 auto 24px;
    padding: 0 64px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8em;
    margin: 0 64px;
}

.testimonials .content .comment, .testimonials .content .name, .testimonials .content .career {
    text-align: center;
}

.testimonials .content .name {
    font-weight: bold;
}

.testimonials .content .image img{
    width: 100%;
    height: 100%;
}

.testimonials .content .item p {
    line-height: 2em;
    font-size: 14px;
}

.testimonials .pickers {
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 36px 0;
}

.testimonials .pickers div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #999999;
}


.testimonials .pickers .active {
    background-color: #FF9900;
}
/************************************************************/

/*FOOTER***************************************************/
footer {
    background: #313131;
}

footer .container {
    padding: 56px 12px;
    display: flex;
    box-sizing: border-box;
    width: auto;
}

footer .item:nth-child(n+2) {
    border-left: 1px solid #999999;
}

footer .item .title {
    text-transform: capitalize;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 28px;
    padding-bottom: 14px;
    position: relative;
    font-weight: normal;
}

footer .item .title::after{
    content: '';
    height: 2px;
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF9900;
}

footer .item.w15 {
    width: 15%;
}

footer .item.w25 {
    width: 25%;
}

footer .item.w30 {
    width: 30%;
}

footer .item.w30 {
    width: 30%;
}

footer .about {
    padding: 0 15px;

}

footer .about .text {
    color: #999999;
    line-height: 2em;
    font-size: 14px;
}

footer .about .logo a{
    font-size: 36px;
    line-height: 3em;
    color: #ffffff;
}

footer .links {
    padding: 0 15px 0 64px;
}

footer .links .list-item {
    margin-bottom: 21px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
}

footer .links .list-item span {
    color: #999999;
    text-transform: capitalize;
    font-size: 14px; 
}

footer .twit {
    padding: 0 15px 0 48px;
}

footer .twit * {
    font-size: 14px;
}

footer .twit .info {
    display: flex;
}

footer .twit .list-item * {
    color: #999999;
}

footer .twit .info img {
    margin: auto 0;
    width: 16px;
    height: 14px;
}

footer .twit .info .date {
    margin: 18px 0 18px 16px;
}

footer .inst {
    padding: 0 15px 0 48px;
}

footer .inst .images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .inst .image {
    display: flex;
    width: 32%;
    margin-bottom: 2%;
}

footer .inst .image img {
    width: 100%;
}
/************************************************************/

/*COPYRIGHT**************************************************/
.copy {
    padding: 24px 0;
    background-color: #212121;
    color: #ffffff;
}

.copy .container {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.copy .copy-info {
    display: flex;
    font-size: 14px;
}

.copy .copy-info p a{
    color: #ff9900;
}

.copy .share {
    display: flex;
}

.copy .share .social {
    width: 40px;
    height: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.copy .share .social img {
    margin: auto;
}
/************************************************************/

/*GREATHER PHOTO*********************************************/
.gphoto {
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
}
/************************************************************/

/*NAV LINKS**************************************************/
.nav-links {
    background-color: #f5f5f5;
}

.nav-links .container {
    padding: 16px 0;
}

.nav-links .links {
    display: flex;
    justify-content: center;
}

.nav-links .links .link {
    padding: 0 21px;
    position: relative;
}

.nav-links .links .link::after {
    content: '';
    border-right: 1px solid #212121;
    position:absolute;
    right: 0;
    height: 12px;
    top: calc(50% - 6px + 1px);
}

.nav-links .links .last::after {
    display: none;
}

.nav-links .links .link span {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links .links .last span {
    color: #212121;
}
/************************************************************/


/*SERVICES***************************************************/
.services .blocks {
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
}

.services .blocks .item {
    width: calc((100% - 48px) / 4);
    box-sizing: border-box;
    padding: 0 15px;
    margin: 20px 0;
}

.services .blocks .item:hover .icon{
    font-size: 32px;
    color: #000;
    transition: 0.5s all;
}
.services .blocks .item:hover .title a{
    color: #FF9900;
    transition: .5s all;
}

.services .blocks .item .icon{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    height: 24px;
    transition: 0.5s all;
}

.services .blocks .item .title {
    margin: 20px 0;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.services .blocks .item .desc {
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 2em;
}
/************************************************************/


/*DELECTUS***************************************************/
.delectus {
    background-color: #f5f5f5;
    padding: 80px 0;
}

.delectus .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.delectus .main-title {
    text-align: center;
    text-transform: capitalize;
    color: #212121;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}

.delectus .item {
    padding: 0 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    width: calc((100% - 30px) / 2);
}

.delectus .item:nth-child(2n) {
    flex-direction: row-reverse;
}

.delectus .item .text {
    box-sizing: border-box;
    padding-left: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.delectus .item .text .title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
    transition: .5s all;
}

.delectus .item .text .title a {
    color: #ff9900;
}

.delectus .item .text .title:hover a{
    color: #000;
    transition: .5s all;
}

.delectus .item .text .desc {
    line-height: 2em;
    font-size: 14px;
    width: 100%;
    color: #999999;
    margin-top:14px;
}

.delectus .item .number {
    margin: 24px 60px 0;
}

.delectus .item .circle {    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9900;
}

.delectus .item .circle span {    
    color: #ffffff;
    font-size: 20px;
    text-indent: 1px;
}
/************************************************************/


/*SPECIAL SERVICES*******************************************/
.spec-services .content{
    display: flex;
}

.spec-services .content .item{
    width: 33.333%;
    padding: 0 15px;
}

.spec-services .content .item .image {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.spec-services .content .item .image img {
    width: 100%;
}

.spec-services .content .item .title {
    font-size: 22px;
    margin: 22px 0 40px;
}
/************************************************************/


/*ABOUT US*/
.about .content {
    display: flex;
    box-sizing: border-box;
}

.about .content .w50 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.about .content .w100 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 15px 0;
}

.about .content .images {
    display: flex;
    flex-wrap: wrap;
}

.about .content .text .title {
    font-size: 28px;
    color:#212121;
    line-height: 1.5em;
    text-transform: capitalize;
    font-weight: normal;
}

.about .content .text p {
    margin: 28px 0 14px;
    color: #999;
    line-height: 2em;
    font-size: 14px;
}

.about .content .text i {
    display: block;
    margin-bottom: 42px;
    color: #212121;
}

.about .content .text span {
    color: #FF9900;
}
/************************************************************/

/*COUNTER****************************************************/
section.counter {
    background-image: url(../img/13.jpg);
    background-position: center center;
}

.counter .container {
    padding: 80px 0;
}

.counter .container .items {
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
}

.counter .items .item {
    padding: 0 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.counter .items .item .icon i{
    font-size: 32px;
}

.counter .items .item .number {
    margin: 20px 0 10px;
    font-size: 40px;
    font-style: bold;
    font-family: 'Open Sans Bold';
    color: #FFFFFF;
}

.counter .items .item p {
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 20px;
}
/************************************************************/


/*STATISTICS*************************************************/
section.statistic .container {
    padding: 80px 0;
    display: flex;
}

.statistic .container>div {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

/*text*/
.statistic .text .title {
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Lato';
    font-weight: normal;
    color: #212121;
}

.statistic .text p{
    margin: 14px 0 42px;
    color: #999999;
    line-height: 2em;
    font-size: 14px;
}

.statistic .text ol {
    padding-left: 16px;
}

.statistic .text ol li {
    color: #999999;
    list-style-type:decimal;
    margin-bottom: 24px;
    text-transform: capitalize;
}

/*bars*/
.statistic .bars .bar{
    width: 85%;
    margin: 0 auto;
}

.statistic .bars .label {
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 14px;
}

.statistic .bars .progress {
    height: 4px;
    position: relative;
    background-color: #e4e4e4;
    margin-bottom: 32px;
}

.statistic .bars .progress .count {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 4px;
    background-color: #FF9900;
}
/************************************************************/


/*MAIL*******************************************************/
/*map*/
.mail .map-container {
    width: 100%;
    height: 300px;
    margin-bottom: 48px;
}

/*contact*/
.mail .contact>div{
    box-sizing: border-box;
    padding: 15px;
}

.mail .contact {
    display: flex;
    justify-content: space-between;
}

.mail .left {
    width: 33%;
}

.mail .right {
    width: 66%;
}

.mail .contact * {
    font-size: 14px;
    color: #999999;
}

.mail .contact .title {
    font: 'Lato Bold, sans-serif'; 
    font-size: 24px;
    color: #ff9900;
    margin-bottom: 36px;
}

.mail .contact .left .desc {
    color: #999999;
    padding-bottom: 28px;
    line-height: 1.8em;
}

.mail .contact .left .desc span {
    color: #212121;
    font-weight: bold;
}

.mail .contact .left li {
    margin-bottom: 14px;
    display: flex;
}

.mail .contact .left li .icon {
    margin-right: 16px;
}

.mail .contact .left li .icon i {
    color: #FF9900;
}

/*form*/
.mail .contact form {
    display: flex;
    flex-wrap: wrap;
}

.mail .contact form .p10 {
    padding: 10px;
}

.mail .contact form .w50 {
    box-sizing: border-box;
    width: calc(50% - 30px);
    margin: 0 15px 14px;
}

.mail .contact form input,
.mail .contact form textarea{
    border: 1px solid #E6E6E6;
    color: #212121;
    background-color: #F5F5F5;
}

.mail .contact form input::placeholder,
.mail .contact form textarea::placeholder {
    color: #212121;
}

.mail .contact form textarea {
    resize: vertical;
    margin: 0 15px 14px;
    width: 100%;
    min-height: 200px;
}

.mail .contact form .buttons {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mail .contact form .btn {
    width: 48%;
    padding: 10px 0;
    background-color: #FF9900;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 0.5s;
}

.mail .contact form .btn:hover {
    background-color: #212121;
    transition-duration: 0.5s;
}
/************************************************************/


/*SINGLE*****************************************************/
.single .container {
    display: flex;
    margin: 80px auto;
    flex-wrap: wrap;
}

.single .p-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.single .left {
    width: 33.333%;
}

.single .right {
    width: 66.667%;
}

/*left*/
.single .post {
    border: 5px solid #F5F5F5;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 48px;
}

.single .post * {
    font-family: 'Lato';
}

.single .post .title {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;

}

.single .post .item:last-child {
    margin-bottom: 0px;
}

.single .recents .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.single .recents .item img{
    width: 30%;
}

.single .recents .item .info {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.single .recents .item .info .meta,
.single .recents .item .info .meta>div{
    display: flex;
}

.single .recents .item .info .meta {
    justify-content: space-between;
}

.single .recents .item .name {
    text-transform: capitalize;
    color: #212121;
    font-size: 18px;
    margin-bottom: 6px;
}

.single .recents .item .meta .brief {
    width: 30%;
}

.single .recents .item .meta .time {
    width: 60%;
}

.single .recents .item .meta .icon {
    margin-right: 8px;
    font-size: 14px;
    color: #ff9900;
}

.single .recents .item .meta .counter {
    font-family: "Open Sans";
    font-size: 14px;
    color: #999999;
}

.single .twitter .item {
    display: flex;
    margin-bottom: 32px;
}

.single .twitter .item .icon {
    margin-right: 8px;
    font-family: 'OpenSans-Italic';
    font-weight: lighter;
    color: #ff9900;
    line-height: 2em;
}

.single .twitter .item i.date,
.single .twitter .item p {
    color: #999999;
    line-height: 2em;
    font-size: 14px;
}

.single .twitter .item i.date,
.single .twitter .item p a{
    color: #212121;
}

.single .tags .items {
    display: flex;
    flex-wrap: wrap;
}

.single .tags .item {
    display: flex;
    padding: 4px 14px;
    background-color: #f5f5f5;
    margin-right: 12px;
    margin-bottom: 8px;
}

.single .tags .item a {
    font-size: 14px;
    color: #212121;
    font-family: 'Open Sans';
}

/*right*/
.single .meta-info {
    display: flex;
}

.single .meta-info>div {
    display: flex;
    margin-right: 32px;
    font-size: 14px;
    color: #212121;
}

.single .meta-info .icon {
    margin-right: 16px;
}

.single .right * {
    font-size: 14px;
    line-height: 2em;
}

.single .right h3{
    margin: 40px 0;
    padding-left: 32px;
    box-sizing: border-box;
    border-left: 5px solid #ff9900;
    font-size: 22px;
    line-height: 1.8em;
    color: #212121;
    font-weight: 500;
}

.single .right .w100 {
    width: 100%;
    display: flex;
}

.single .right .content {
    margin: 28px 0;
    color: #999999;
}

.single .right .content i {
    display: block;
    margin: 14px 0;
    color: #212121;
}

.single .right .content-row {
    display: flex;
    margin: 28px 0;
    width: 100%;
}

.single .right .content-row .text,
.single .right .content-row img,
.single .right .content-row .left,
.single .right .content-row .right {
    width: 50%;
    color: #999999;
}

.single .right .content-row span {
    display: block;
    margin-top: 14px;
}

.single .right .content-row .left img {
    width: 100%;
    display: flex;
}

.single .right .content-row p{
    background-color: #f5f5f5;
}

.single .right .content-row .left p {
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
}

.single .right .content-row .right {
    height: auto;
    display: flex;
    align-content: center;
}

.single .right .content-row .right p {
    padding: 32px 32px 32px 64px;
    margin: auto;
    position: relative;
    color: #212121;
}

.single .right .content-row .right p::before {
    content: '';
    background-image: url(../img/ps2.png);
    background-size: 100% 100%;
    width: 20px;
    height: 14px;
    position: absolute;
    z-index: 1;
    left: 24px;
    top: 36px;
}

/*comments*/
.single .comments {
    margin: 80px 0;
    width: 100%;
}

.single .comments .com-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
}

.single .comments .com-item:last-child {
    margin-bottom: 0px;
}

.single .comments h4{
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 28px;
}

.single .comments .img {
    width: 15%;
}

.single .comments .img img {
    height: 100%;
    max-height: 100px;
    border-radius: 50%;
}

.single .comments .text {
    width: 80%;
}

.single .comments .com-item h5 {
    font-size: 20px;
}

.single .comments .com-item .date,
.single .comments .com-item p{
    color: #999999;
}

.single .comments .com-item .date {
    font-size: 12px;
    margin: 6px 0 12px;
}

.single .comments .com-item p {
    width: 80%;
    line-height: 2em;
    margin-bottom: 14px;
}

.single .reply {
    width: 100%;
}

.single .reply h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 28px;
}

.single .reply form {
    width: 80%;
}

.single .reply form * {
    font-size: 16px;
}

.single .reply form .cols {
    display: flex;
}

.single .reply form .col {
    width: 50%;
    padding-right: 32px;
}

.single .reply form .left input {
    width:100%;
    padding: 10px;
}

.single .reply form .left input:last-child {
    margin-bottom: 0;
}

.single .reply form input,
.single .reply form textarea {
    border: 1px solid #E6E6E6;
    color: #212121;
    background-color: #F5F5F5;
    margin-bottom: 14px;
}

.single .reply form input::placeholder,
.single .reply form textarea::placeholder {
    color: #212121;
}

.single .reply form textarea {
    width: 100%;
    height: 100%;
    resize: none;
    margin-bottom: 0;
}

.single .reply form .send-btn {
    width:30%;
    padding: 10px 0;
    margin-top: 32px;
    background-color: #FF9900;
    color: #FFFFFF;
}
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/

/*MEDIA*/
@media all and (max-width:1180px) {
    section.description .text {
        padding: 0 48px;
    }

    section.description * {
        line-height: 1.2em;
    }
}



@media all and (max-width:1124px) {
    section.description {
        flex-direction: column;
    }

    section.description .block {
        width: 100%;
    }

    section.description .picture {
        display: none;
    }

    section.description .text {
        padding: 48px;
    }
}



@media all and (max-width:992px) {
    .banner {
        min-height: 460px;
    }

    .banner .middle {
        width: auto;
    }

    .features .container {
        flex-wrap: wrap;
    }

    .features .container .block {
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
    }

    .features .container .left {
        margin-bottom: 48px;
    }

    .features .right .item {
        padding-top: 48px;
        padding-bottom: 48px;

    }

    .news .item {
        width: 100%;
    }

    .testimonials .content .comment {
        padding: 0;
    }

    .testimonials .content::before {
        left: 6%;
    }

    .container {
        max-width: 760px;
        margin: 0 auto
    }

    footer .container {
        flex-wrap: wrap;
    }

    footer .item {
        width: 50% !important;
        box-sizing: border-box;
    }

    footer .item:nth-child(n+2) {
        border: none;
    }

    footer .item:nth-child(2n) {
        border-left: 1px solid #999999;
    }

    footer .item:nth-child(n+3) {
        border-top: 1px solid #999999;
        padding-top: 24px;
    }

    footer .about {
        padding-left: 48px;
    }
}


@media all and (max-width:765px) {
    .nav-links .toggle-button {
        display: flex;
    }

    .nav-links .links {
        display: none;
    }
}
/************************************************************/
